<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples"
            class="org.csstudio.opibuilder.examples.ImportWizard"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.examples.importwizard"
            name="Generic OPI Examples">
      </wizard>
   </extension>
   <extension
         point="org.csstudio.examples.sampleset">
      <sampleset
            name="Generic OPI Examples"
            sampleset="org.csstudio.opibuilder.examples.Basic">
      </sampleset>
   </extension>
</plugin>
