<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2" ?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page class="org.yamcs.studio.autocomplete.ui.preferences.PreferencePage" id="org.yamcs.studio.autocomplete.ui.preferences" name="PV Autocomplete"></page>
   </extension>
</plugin>
