<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Event Viewer"
            application="org.yamcs.studio.products.eventviewer.application">
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png,icons/css256.png"/>
         <property
               name="aboutText"
               value="Event Viewer for Yamcs - The Open Source Mission Control System&#x0A;&#x0A;See http://www.yamcs.org"/>
         <property
               name="aboutImage"
               value="icons/aboutSide.png"/>
         <property
               name="appName"
               value="Event Viewer"/>
      </product>
   </extension>
   
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
            class="org.yamcs.studio.products.eventviewer.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Yamcs Event Viewer"
            class="org.yamcs.studio.products.eventviewer.Perspective"
            id="org.yamcs.studio.products.eventviewer.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            id="org.yamcs.studio.products.eventviewer.sample"
            name="an example"
            class="org.yamcs.studio.products.eventviewer.MyView">
      </view>
   </extension>
   
   <!--extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.yamcs.studio.core.ui.prefs.SoundPreferencePage"
            id="org.yamcs.studio.core.ui.prefs.SoundPreferencePage"
            name="Sound">
      </page>
      <page
            class="org.yamcs.studio.core.ui.prefs.EventsPreferencePage"
            id="org.yamcs.studio.core.ui.prefs.EventsPreferencePage"
            name="Events">
      </page>
      <page
            class="org.yamcs.studio.core.ui.prefs.ConnectionPreferencePage"
            id="org.yamcs.studio.core.ui.prefs.ConnectionPreferencePage"
            name="Yamcs Server">
      </page>
   </extension-->
   
   <!--extension point="org.eclipse.ui.services">   
      <sourceProvider provider="org.yamcs.studio.core.ui.AuthorizationStateProvider">
         <variable name="org.yamcs.studio.ui.authorization.mayCommandPayload" priorityLevel="workbench" />
      </sourceProvider>
      <sourceProvider provider="org.yamcs.studio.core.ui.connections.ConnectionStateProvider">
         <variable name="org.yamcs.studio.ui.state.connected" priorityLevel="workbench" />
      </sourceProvider>
   </extension-->

   <!--extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=file">
         <toolbar id="additions"/>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=user">
            <command
                  commandId="org.yamcs.studio.ui.connect"
                  label="Connect...">
            </command>
            <command
                  commandId="org.yamcs.studio.ui.disconnect" 
                  label="Disconnect">
            </command>
      </menuContribution>
   </extension-->
</plugin>
