/*.MTrimmedWindow {
    background-color: #181b20;
}*/


#org-eclipse-ui-trim-status {
  visibility: hidden;
}

/*
.MTrimBar#org-eclipse-ui-main-toolbar {
    background-color: #181b20 #1d2027 100%;
}

.MTrimBar.freeze#org-eclipse-ui-main-toolbar {
    background-color: #d9e3f3 rgb(170, 176, 191) 100%;
}
*/
