<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
    Copyright (c) 2021 Space Applications Services and others
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
 -->
<target includeMode="feature" name="Yamcs Studio Target Platform" sequenceNumber="198">
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.yamcs.org/p2/platform/202304011637/" />
            <unit id="com.google.gson" version="2.9.1.v20220915-1632" />
            <unit id="com.google.guava" version="30.1.0.v20221112-0806" />
            <unit id="org.antlr.runtime" version="3.2.0.v20220404-1927" />
            <unit id="org.apache.commons.collections" version="3.2.2.v20220405-1659" />
            <unit id="org.apache.commons.lang" version="2.6.0.v20220406-2305" />
            <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502" />
            <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900" />
            <unit id="org.apache.poi" version="4.1.1.v20221112-0806" />
            <unit id="org.apache.poi.ooxml" version="4.1.1.v20221112-0806" />
            <unit id="org.apache.poi.ooxml.schemas" version="4.1.1.v20221112-0806" />
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.600.v20221116-1440" />
            <unit id="org.eclipse.platform.ide" version="4.26.0.I20221123-1800" />
            <unit id="org.eclipse.rcp.feature.group" version="4.26.0.v20221123-2302" />
            <unit id="org.eclipse.gef.sdk.feature.group" version="3.15.0.202211301913" />
            <unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400" />
            <unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.202208171809" />
            <unit id="org.eclipse.nebula.visualization.feature.feature.group" version="2.1.0.202208171809" />
            <unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.5.0.202208171809" />
            <unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.1.0.202208171809" />
            <unit id="org.eclipse.nebula.widgets.opal.breadcrumb.feature.feature.group" version="1.0.0.202208171809" />
            <unit id="org.eclipse.nebula.widgets.opal.commons.feature.feature.group" version="1.0.0.202208171809" />
            <unit id="org.eclipse.tm4e.feature.feature.group" version="0.5.2.202211261320" />
            <unit id="org.jaxen" version="1.1.6.v20221112-0806" />
            <unit id="org.jcodings" version="1.0.57" />
            <unit id="org.jdom2" version="2.0.6.v20221112-0806" />
            <unit id="org.joni" version="2.1.43" />
            <unit id="org.objectweb.asm" version="9.4.0.v20221107-1714" />
            <unit id="org.python.jython" version="2.7.3" />
            <unit id="org.sat4j.core" version="2.3.6.v20201214" />
            <unit id="org.sat4j.pb" version="2.3.6.v20201214" />
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <repository location="https://dl.yamcs.org/p2/platform/202402080000/" />
            <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.stripped.feature.group" version="17.0.10.v20240120-1143" />
            <unit id="org.yamcs.p2.batik" version="1.12.0" />
            <unit id="org.yamcs.p2.client" version="5.8.9.20240207230137" />
            <unit id="org.yamcs.p2.jcodec" version="0.2.6.20240207230137" />
            <unit id="org.yamcs.p2.nashorn" version="15.4.0" />
            <unit id="org.yaml.snakeyaml" version="2.0.0" />
        </location>
    </locations>
</target>
