<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.yamcs.studio.product.application"
            name="Yamcs Studio">
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png,icons/css256.png"/>
         <property
               name="aboutText"
               value="CS-Studio customized to suit Yamcs - the Open Source Mission Control System&#x0A;&#x0A;See http://www.yamcs.org"/>
         <property
               name="appName"
               value="Yamcs Studio">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFDFA">
         </property>
         <property
               name="startupMessageRect"
               value="20,195,340,20">
         </property>
         <property
               name="startupProgressRect"
               value="20,215,340,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
            name="introTitle"
            value="Yamcs Studio">
         </property>
         <property
            name="introBrandingImage"
            value="product:icons/css64.png"/>
         <property
            name="introBrandingImageText"
            value="Yamcs Studio"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="application"
		 name="Yamcs Studio">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   
   <!-- Note that the classes listed in here should be in plugins
        that can be loaded without locking the workspace.
        This means the plugins loaded for these classes
        should not use preferences or anything else that
        triggers initialization of the workspace
     -->
   <extension point="org.csstudio.startup.module">
      <startupParameters class="org.csstudio.utility.product.StartupParameters"/>
      <workspace class="org.csstudio.utility.product.WorkspacePrompt"/>
      <workbench class="org.csstudio.utility.product.Workbench"/>
      <project class="org.yamcs.studio.product.DefaultYamcsStudioProject"/>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=file">
         <toolbar id="additions">
         </toolbar>
      </menuContribution>
   </extension>
<!--   <extension
         point="org.eclipse.ui.activities">
    <activity id="yamcsstudio.disablextensions" name="Hidden activities"/>
    <activityPatternBinding activityId="yamcsstudio.disablextensions" pattern="org.eclipse.team.*"/>
   </extension-->
   
   <!--
   	This extension point is actually considered deprecated now, in favor of the
   	"common navigator framework". We'll use this one until we have time to figure
   	out the other one.
   -->
   <extension point="org.eclipse.ui.ide.resourceFilters">
      
      <!-- Hide files that should by default be hidden (.project, .pydevproject, ..) -->
      <filter
            selected="true"
            pattern=".**"> <!-- Not using .* because that one is declared by org.eclipse.ui.ide as selected="false" -->
      </filter>
   </extension>
</plugin>
