<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021 Space Applications Services and others
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
 -->

<plugin>

   <extension point="org.eclipse.ui.ide.unassociatedEditorStrategy">
      <strategy
            class="org.yamcs.studio.editor.base.YamcsStudioUnassociatedEditorStrategy"
            id="org.yamcs.studio.unassociatedEditorStrategy"
            interactive="false"
            label="Generic Text Editor">
      </strategy>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            class="org.csstudio.opibuilder.editor.OPIEditor"
            contributorClass="org.csstudio.opibuilder.editor.OPIEditorActionBarContributor"
            extensions="opi"
            icon="icons/file_opi.png"
            id="org.csstudio.opibuilder.OPIEditor"
            name="OPI Builder">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            default="false"
            extensions="js"
            icon="icons/js.gif"
            id="org.csstudio.opibuilder.jseditor"
            name="JavaScript Editor (deprecated)">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.opibuilder.editor.OPIEditorPerspective"
            icon="icons/placeholder.gif"
            id="org.csstudio.opibuilder.opieditor"
            name="Display Builder">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Run the OPI file currently in the editor"
            id="org.csstudio.opibuilder.runopi"
            name="Open workspace in Display Runner">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Open Display Builder"
            id="org.csstudio.opibuilder.editopi"
            name="Open workspace in Display Builder">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Run the OPI file currently in the editor"
            id="org.csstudio.opibuilder.runopi_old"
            name="Open workspace in Display Runner">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Change the widget order to front"
            id="org.csstudio.opibuilder.actions.TO_FRONT"
            name="To Front">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Change the widget order a step front"
            id="org.csstudio.opibuilder.actions.STEP_FRONT"
            name="Step Front">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Change the widget order to back"
            id="org.csstudio.opibuilder.actions.TO_BACK"
            name="To Back">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Change the widget order a step back"
            id="org.csstudio.opibuilder.actions.STEP_BACK"
            name="Step Back">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="org.csstudio.opibuilder.actions.SelectParentHandler"
            description="Select Parent Container"
            id="org.csstudio.opibuilder.actions.selectParent"
            name="Select Parent">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="org.csstudio.opibuilder.actions.LayoutWidgetsHandler"
            description="Layout Widgets"
            id="org.csstudio.opibuilder.actions.layoutWidgets"
            name="Layout Widgets">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.csstudio.opibuilder.editopi"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <!-- M1-G is the old shortcut, keeping around for now. Maybe could turn
           into some generic switch (either run-to-edit or edit-to-run), but not
           sure yet. -->
      <key
            commandId="org.csstudio.opibuilder.runopi_old"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="org.csstudio.opibuilder.runopi"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      
      <key
            commandId="org.csstudio.opibuilder.actions.TO_FRONT"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.TO_BACK"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.STEP_BACK"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_LEFT">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.STEP_FRONT"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_RIGHT">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.selectParent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="org.csstudio.opibuilder.preferences.editor"
            class="org.csstudio.opibuilder.preferences.OPIEditorPreferencePage"
            name="Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.csstudio.opibuilder.wizards"
            name="OPI">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewOPIFileWizard"
            hasPages="true"
            icon="icons/placeholder.gif"
            id="org.csstudio.opibuilder.wizards.newOPIWizard"
            name="OPI File">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewJavaScriptWizard"
            hasPages="true"
            icon="icons/js.png"
            id="org.csstudio.opibuilder.wizards.newJSWizard"
            name="JavaScript File">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewPythonScriptWizard"
            hasPages="true"
            icon="icons/python_file.gif"
            id="org.csstudio.opibuilder.wizards.newPyWizard"
            name="Python File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.csstudio.opibuilder.opiEditor"
            name="OPI Builder Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.csstudio.opibuilder.editor.actionSet"
            label="OPI Builder Actions"
            visible="false">
         <action
               class="org.csstudio.opibuilder.actions.RunOPIAction"
               definitionId="org.csstudio.opibuilder.runopi"
               toolbarPath="Normal/additions"
               id="org.csstudio.opibuilder.runOPIAction"
               icon="icons/run.gif"
               label="Open Display Runner"
               style="push">
         </action>
         <!-- Same class as org.csstudio.opibuilder.runopi action. This one uses a different shortcut -->
         <action
               class="org.csstudio.opibuilder.actions.RunOPIAction"
               definitionId="org.csstudio.opibuilder.runopi_old"
               id="org.csstudio.opibuilder.runOPIAction_old"
               label="Open Display Runner"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="org.csstudio.opibuilder.editor.runtimeActionSet"
            label="OPI Builder Actions for Runtime Mode"
            visible="false">
         <action
               class="org.csstudio.opibuilder.actions.EditOPIAction"
               definitionId="org.csstudio.opibuilder.editopi"
               toolbarPath="Normal/additions"
               id="org.csstudio.opibuilder.editOPIAction"
               icon="icons/placeholder.gif"
               label="Open Display Builder"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.layoutWidgets"
            objectClass="org.csstudio.opibuilder.editparts.AbstractLayoutEditpart">
         <action
               class="org.csstudio.opibuilder.actions.LayoutWidgetsAction"
               definitionId="org.csstudio.opibuilder.actions.layoutWidgets"
               enablesFor="1"
               icon="icons/layout_widgets.png"
               id="org.csstudio.opibuilder.layoutWidgetsAction"
               label="&amp;Layout Widgets"
               menubarPath="group"
               tooltip="Layout widgets in the container">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.selectParent"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.SelectParentAction"
               definitionId="org.csstudio.opibuilder.actions.selectParent"
               enablesFor="1"
               id="org.csstudio.opibuilder.selectParentAction"
               label="&amp;Select Parent"
               menubarPath="edit"
               tooltip="Select Parent Container">
         </action>
         <visibility>
            <and>
               <objectState
                     name="executionMode"
                     value="EDIT_MODE">
               </objectState>
               <not>
                  <objectClass
                        name="org.csstudio.opibuilder.editparts.DisplayEditpart">
                  </objectClass>
               </not>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            id="org.csstudio.opibuilder.SchemaDecorator"
            label="Active OPI Schema"
            state="true"
            lightweight="true"
            class="org.csstudio.opibuilder.editor.SchemaDecorator"
            location="TOP_RIGHT">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
         <description>
            Adds an icon decoration to an OPI display if that display is the active schema.
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.yamcs.studio.editor.base.views.FunctionsView"
            icon="icons/eview16/formula-viewer-16.png"
            id="org.yamcs.studio.editor.base.views.FunctionsView"
            name="Function Reference">
      </view>
   </extension>
</plugin>
