<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021 Space Applications Services and others
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.yamcs.studio.editor.base.views.FunctionsView"
            icon="icons/eview16/formula-viewer-16.png"
            id="org.yamcs.studio.editor.base.views.FunctionsView"
            name="Function Reference">
      </view>
   </extension>
</plugin>
