<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples"
            class="org.csstudio.opibuilder.examples.ImportOPIExamplesWizard"
            icon="icons/activity_category.png"
            id="org.csstudio.opibuilder.examples.examplesWizard"
            name="OPI Examples">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples"
            class="org.csstudio.opibuilder.examples.ImportYSSLandingWizard"
            icon="icons/activity_category.png"
            id="org.csstudio.opibuilder.examples.yssLandingWizard"
            name="YSS Landing">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples"
            class="org.csstudio.opibuilder.examples.NewOPIImageLibExampleWizard"
            icon="icons/activity_category.png"
            id="org.csstudio.opibuilder.examples.imageLibWizard"
            name="OPI Image Library">
      </wizard>
   </extension>
</plugin>
