<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.views">
      <category
            name="Yamcs Server"
            id="org.yamcs.studio.server">
      </category>
      <view
            category="org.yamcs.studio.server"
            class="org.yamcs.studio.alarms.active.ActiveAlarmsView"
            icon="icons/eview16/alarms.png"
            id="org.yamcs.studio.alarms.active.ActiveAlarmsView"
            name="Active Alarms"/>
   </extension>
</plugin>
