<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.yamcs.commanding.TelecommandView"
            icon="icons/tc.png"
            id="org.csstudio.yamcs.commanding.TelecommandView"
            name="Telecommanding">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:css?before=display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/tc.png"
               label="Telecommanding"
               style="push"
               tooltip="Show available telecommands">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.yamcs.commanding.TelecommandView">
            </parameter>
         </command>
         <separator
               name="org.csstudio.yamcs.menu.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
</plugin>
