<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Yamcs Studio Runtime"
            application="org.yamcs.studio.runtime.application">
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png,icons/css256.png"/>
         <property
               name="aboutText"
               value="Rich desktop client for Yamcs - The Open Source Mission Control System&#x0A;&#x0A;See http://www.yamcs.org"/>
         <property
               name="aboutImage"
               value="icons/aboutSide.png"/>
         <property
               name="appName"
               value="Yamcs Studio Runtime"/>
      </product>
   </extension>
   
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
            class="org.yamcs.studio.runtime.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Event Log"
            class="org.yamcs.studio.runtime.Perspective"
            id="org.yamcs.studio.runtime.perspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=file">
         <toolbar id="additions"/>
      </menuContribution>
   </extension>
</plugin>
