<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
            name="Yamcs Server"
            id="org.yamcs.studio.server">
      </category>
      <view
            category="org.yamcs.studio.server"
            class="org.yamcs.studio.monitoring.links.DataLinkView"
            icon="icons/eview16/datalinks.png"
            id="org.yamcs.studio.monitoring.links.LinksView"
            name="Data Links"/>
   </extension>
</plugin>
