<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.yamcs.studio"
            name="Yamcs">
      </category>
      <command
            categoryId="org.yamcs.studio"
            id="org.yamcs.studio.css.core.reload"
            name="Reload Theme">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.yamcs.studio.css.core.reload"
            class="org.yamcs.studio.css.core.ReloadThemeHandler"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.yamcs.studio.showPVInfo"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.yamcs.studio.css.core.ShowPVInfoAction"
               enablesFor="1"
               id="org.yamcs.studio.showPVInfoAction"
               label="Show PV Info"
               tooltip="Show details of PVs on this widget">
         </action>
         <visibility>
            <and>
               <objectState
                     name="executionMode"
                     value="RUN_MODE">
               </objectState>
               <objectState
                     name="hasPVs"
                     value="true">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.yamcs.studio.showExplorer"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.yamcs.studio.ui.css.ShowExplorerAction"
               icon="icons/eview16/filenav_nav.png"
               id="org.yamcs.studio.showExplorerAction"
               label="Show Explorer"
               menubarPath="ui">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="RUN_MODE">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
