<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.windhoverlabs.studio.properties.CFSPropertiesPage"
            id="com.windhoverlabs.studio.properties.samplePropertyPage"
            name="CFSPropertiesPage"
            nameFilter="*.*">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.windhoverlabs.studio.registry.preferences.RegistryPreferencePage"
            id="com.windhoverlabs.studio.registry.preferences.RegistryPreferencePage"
            name="Registry">
      </page>
   </extension>
</plugin>
