<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.yamcs.studio"
            name="Yamcs">
      </category>
      <command
            categoryId="org.yamcs.studio"
            id="org.yamcs.studio.ui.autoconnect"
            name="Autoconnect">
      </command>
      <command
            categoryId="org.yamcs.studio"
            id="org.yamcs.studio.ui.connect"
            name="Connect">
      </command>
      <command
            categoryId="org.yamcs.studio"
            id="org.yamcs.studio.ui.disconnect"
            name="Disconnect">
      </command>
      <command
            categoryId="org.yamcs.studio"
            id="org.yamcs.studio.ui.login"
            name="Login">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.yamcs.studio.ui.login"
            class="org.yamcs.studio.core.ui.connections.LoginHandler"/>
      <handler 
            commandId="org.yamcs.studio.ui.autoconnect" 
            class="org.yamcs.studio.core.ui.connections.AutoConnectHandler"/>
      <handler
            commandId="org.yamcs.studio.ui.connect"
            class="org.yamcs.studio.core.ui.connections.ConnectHandler"/>
      <handler
            commandId="org.yamcs.studio.ui.disconnect"
            class="org.yamcs.studio.core.ui.connections.DisconnectHandler">
         <activeWhen>
            <with variable="org.yamcs.studio.ui.state.connected">
               <equals value="true"/>
            </with>
         </activeWhen>
      </handler>
   </extension>
</plugin>
