<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.yamcs.studio.ui.alphanum.AlphaNumericEditor"
            contributorClass="org.yamcs.studio.ui.alphanum.AlphaNumericEditorActionBarContributor"
            default="false"
            extensions="par2"
            id="org.yamcs.studio.ui.alphanum.AlphaNumericEditor"
            name="AlphaNumeric">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.yamcs.studio.ui.alphanum.ScrollAlphaNumericEditor"
            default="false"
            extensions="par"
            id="org.yamcs.studio.ui.alphanum.ScrollAlphaNumericEditor"
            name="ScrollAlphaNumeric">
      </editor>
   </extension>  
</plugin>
