<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.utility.pvmanager.yamcs.ParameterDataSource"
            name="Yamcs Parameter"
            prefix="para">
      </datasource>
   </extension>
   
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.utility.pvmanager.yamcs.SoftwareParameterDataSource"
            name="Yamcs Software Parameter"
            prefix="sw">
      </datasource>
   </extension>

   <extension
         point ="org.eclipse.ui.startup">
      <startup
            class="org.csstudio.utility.pvmanager.yamcs.Bootstrap"/>
   </extension>
</plugin>
