<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Yamcs Studio Target Platform" sequenceNumber="132">
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
            <unit id="org.eclipse.lsp4e" version="0.5.0.201712182048"/>
            <unit id="org.eclipse.lsp4j" version="0.4.0.v20171213-2137"/>
            <unit id="org.eclipse.lsp4j.jsonrpc" version="0.4.0.v20171213-2137"/>
            <unit id="org.eclipse.ui.genericeditor" version="1.0.1.v20170822-2211"/>
            <unit id="org.eclipse.xtext.xbase.lib" version="2.13.0.v20171012-0742"/>
            <repository location="http://download.eclipse.org/lsp4e/snapshots"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.antlr.runtime" version="3.4.0"/>
            <unit id="org.antlr.runtime.source" version="3.4.0"/>
            <unit id="org.diirt.datasource" version="3.1.6"/>
            <unit id="org.diirt.datasource-extra" version="3.1.6"/>
            <unit id="org.diirt.datasource-extra.source" version="3.1.6"/>
            <unit id="org.diirt.datasource-formula" version="3.1.6"/>
            <unit id="org.diirt.datasource-formula.source" version="3.1.6"/>
            <unit id="org.diirt.datasource-loc" version="3.1.6"/>
            <unit id="org.diirt.datasource-loc.source" version="3.1.6"/>
            <unit id="org.diirt.datasource-sim" version="3.1.6"/>
            <unit id="org.diirt.datasource-sim.source" version="3.1.6"/>
            <unit id="org.diirt.datasource-sys" version="3.1.6"/>
            <unit id="org.diirt.datasource-sys.source" version="3.1.6"/>
            <unit id="org.diirt.datasource-vtype" version="3.1.6"/>
            <unit id="org.diirt.datasource-vtype.source" version="3.1.6"/>
            <unit id="org.diirt.datasource.source" version="3.1.6"/>
            <unit id="org.diirt.service" version="3.1.6"/>
            <unit id="org.diirt.util" version="3.1.6"/>
            <unit id="org.diirt.util.source" version="3.1.6"/>
            <unit id="org.diirt.vtype" version="3.1.6"/>
            <unit id="org.diirt.vtype.source" version="3.1.6"/>
            <unit id="org.epics.jca" version="2.3.6"/>
            <unit id="org.epics.jca.source" version="2.3.6"/>
            <repository location="http://diirt.download.controlsystemstudio.org/diirt/3.1.6"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.emf.common.feature.group" version="2.12.0.v20160420-0247"/>
            <unit id="org.eclipse.emf.common.source.feature.group" version="2.12.0.v20160420-0247"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.12.0.v20160420-0247"/>
            <unit id="org.eclipse.emf.ecore.source.feature.group" version="2.12.0.v20160420-0247"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20170209-1843"/>
            <unit id="org.eclipse.osgi.compatibility.plugins.feature.feature.group" version="1.0.0.v20150202-1328"/>
            <unit id="org.eclipse.platform.ide" version="4.6.3.M20170301-0400"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.6.3.v20170301-0400"/>
            <repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
            <repository location="http://download.eclipse.org/releases/neon"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.swt.dummyfragments.feature.group" version="1.0.0.v20170228-0512"/>
            <repository location="https://eclipseguru.github.io/missing-swt-fragments/"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.tm4e.samples" version="0.1.0.201705220901"/>
            <unit id="org.eclipse.tm4e.samples.source" version="0.1.0.201705220901"/>
            <unit id="org.eclipse.tm4e.ui.editor" version="0.1.0.201708250328"/>
            <unit id="org.jcodings" version="1.0.18.v20170306-1742"/>
            <unit id="org.joni" version="2.1.11.v20170306-1742"/>
            <unit id="tm-feature.feature.group" version="0.1.0.201712061116"/>
            <unit id="tm-feature.source.feature.group" version="0.1.0.201712061116"/>
            <repository location="http://download.eclipse.org/tm4e/snapshots/"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
            <unit id="com.google.gson.source" version="2.7.0.v20170129-0911"/>
            <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
            <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
            <unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.dom" version="1.7.1.v201505191845"/>
            <unit id="org.apache.batik.dom.source" version="1.7.1.v201505191845"/>
            <unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.extension" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.extension.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
            <unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.swing" version="1.7.0.v201302011158"/>
            <unit id="org.apache.batik.swing.source" version="1.7.0.v201302011158"/>
            <unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
            <unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
            <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
            <unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
            <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
            <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
            <unit id="org.apache.poi" version="3.9.0.v201405241750"/>
            <unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
            <unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
            <unit id="org.apache.poi.ooxml.schemas.source" version="3.9.0.v201405241750"/>
            <unit id="org.apache.poi.ooxml.source" version="3.9.0.v201405241905"/>
            <unit id="org.apache.poi.source" version="3.9.0.v201405241750"/>
            <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
            <unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
            <unit id="org.jdom" version="1.1.1.v201101151400"/>
            <unit id="org.jdom.source" version="1.1.1.v201101151400"/>
            <unit id="org.junit" version="4.12.0.v201504281640"/>
            <unit id="org.junit.source" version="4.12.0.v201504281640"/>
            <unit id="org.mockito" version="1.9.5.v201605172210"/>
            <unit id="org.mockito.source" version="1.9.5.v201605172210"/>
            <unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
            <unit id="org.objectweb.asm.source" version="5.0.1.v201404251740"/>
            <unit id="org.yaml.snakeyaml" version="1.14.0.v201604211500"/>
            <repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
        </location>
    </locations>
</target>
