<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
   <!-- 
   		vtype.pv datasource (for pvtable)
   		(only para:// at this moment, sw:// is pending)
   		
   		DEPRECATED We can probably remove this now that we no longer bundle pvtable
    -->
   <extension point="org.csstudio.vtype.pv.pvfactory">
      <PVFactory name="Yamcs" class="org.yamcs.studio.core.vtype.pv.Para_PVFactory"/>
   </extension>
   
   <!--
   		pvmanager datasource
   	-->
   <extension point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.yamcs.studio.core.pvmanager.ParameterDataSource"
            name="Yamcs Parameter"
            prefix="para">
      </datasource>
   </extension>
   <extension point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.yamcs.studio.core.pvmanager.SoftwareParameterDataSource"
            name="Yamcs Software Parameter"
            prefix="sw">
      </datasource>
   </extension>
   <extension
         id="org.yamcs.studio.core.YamcsLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="org.yamcs.studio.core.YamcsLoginModule"
            description="Authentication of username/password against the Yamcs server">
      </loginModule>
   </extension>
</plugin>
