<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.yamcs.studio.core.pvmanager.Bootstrap"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yamcs.studio.core.ui.prefs.YamcsPreferencePage"
            id="org.yamcs.studio.core.ui.prefs.YamcsPreferencePage"
            name="Yamcs">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <command
            categoryId="org.csstudio"
            id="org.yamcs.studio.core.commanding.issueTelecommandCommand"
            name="Issue Command">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.yamcs.studio.core.commanding.IssueCommandHandler"
            commandId="org.yamcs.studio.core.commanding.issueTelecommandCommand">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
      		name="CSS"
      		id="org.csstudio">
      </category>
      <view
            category="org.csstudio"
            class="org.yamcs.studio.core.archive.ArchiveView"
            icon="icons/archive.png"
            id="org.yamcs.studio.core.archive.ArchiveView"
            name="TM Archive">
      </view>
      <view
            category="org.csstudio"
            class="org.yamcs.studio.core.eventlog.EventLogView"
            icon="icons/event_log.gif"
            id="org.yamcs.studio.core.eventlog.EventLogView"
            name="Event Log">
      </view>
      <view
            category="org.csstudio"
            class="org.yamcs.studio.core.commanding.TelecommandView"
            icon="icons/tc.png"
            id="org.yamcs.studio.core.commanding.TelecommandView"
            name="Telecommanding">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <!-- OPI Runtime Perspective -->
      <perspectiveExtension targetID="org.csstudio.opibuilder.OPIRuntime.perspective">
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               closeable="false"
               id="org.yamcs.studio.core.archive.ArchiveView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               closeable="false"
               id="org.yamcs.studio.core.eventlog.EventLogView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               closeable="false"
               id="org.yamcs.studio.core.commanding.TelecommandView">
         </view>
         <!-- Add view shortcuts too, because even with the closeable="false",
              it is still possible to close them (by first detaching them and
              then closing the detached window. Boooo -->
         <viewShortcut id="org.yamcs.studio.core.archive.ArchiveView"/>
         <viewShortcut id="org.yamcs.studio.core.eventlog.EventLogView"/>
         <viewShortcut id="org.yamcs.studio.core.commanding.TelecommandView"/>
      </perspectiveExtension>
      
      <!-- OPI Editor Perspective -->
      <perspectiveExtension targetID="org.csstudio.opibuilder.opieditor">
      	 <!-- Just some placeholders, in case the user wants to open this in the Editor -->
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               visible="false"
               id="org.yamcs.studio.core.archive.ArchiveView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               visible="false"
               id="org.yamcs.studio.core.eventlog.EventLogView">
         </view>
         <view
               relative="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               visible="false"
               id="org.yamcs.studio.core.commanding.TelecommandView">
         </view>
         <viewShortcut id="org.yamcs.studio.core.archive.ArchiveView"/>
         <viewShortcut id="org.yamcs.studio.core.eventlog.EventLogView"/>
         <viewShortcut id="org.yamcs.studio.core.commanding.TelecommandView"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <!-- Add direct menu to switch perspectives (because we disable the horrible
           built-in perspective-switcher-bar) -->
      <!-- TODO rewrite this to use only one command, with a default checked radio state -->
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.yamcs.studio.ui.perspectiveMenu"
               label="Perspective">
           	<command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="platform:/plugin/org.yamcs.studio.product/icons/css16.png"
                  label="Yamcs (default)"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="org.yamcs.studio.product.YamcsPerspective"/>
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="platform:/plugin/org.csstudio.opibuilder/icons/OPIBuilder.png"
                  label="OPI Editor"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="org.csstudio.opibuilder.opieditor"/>
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="platform:/plugin/org.csstudio.opibuilder/icons/OPIRunner.png"
                  label="OPI Runtime"
                  style="radio">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="org.csstudio.opibuilder.OPIRuntime.perspective"/>
            </command>
         </menu>
      </menuContribution>
      <!-- Augment the main toolbar -->
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.yamcs.studio.toolbar">
             <command
                   commandId="org.yamcs.studio.core.commanding.issueTelecommandCommand"
                   icon="icons/tc_add.png"
                   id="org.yamcs.studio.toolbar.issueTelecommandCommand"
                   tooltip="Issue telecommand">
             </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!-- 
   		vtype.pv datasource (for pvtable)
   		(only para:// at this moment, sw:// is pending)
    -->
   <extension point="org.csstudio.vtype.pv.pvfactory">
      <PVFactory name="Yamcs" class="org.yamcs.studio.core.vtype.pv.Para_PVFactory"/>
   </extension>
   
   <!--
   		pvmanager datasource
   	-->
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.yamcs.studio.core.pvmanager.ParameterDataSource"
            name="Yamcs Parameter"
            prefix="para">
      </datasource>
   </extension>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.yamcs.studio.core.pvmanager.SoftwareParameterDataSource"
            name="Yamcs Software Parameter"
            prefix="sw">
      </datasource>
   </extension>
</plugin>
