<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.yamcs.studio.editor.base.views.FunctionsView"
            icon="icons/eview16/formula-viewer-16.png"
            id="org.yamcs.studio.editor.base.views.FunctionsView"
            name="Function Reference">
      </view>
   </extension>
</plugin>
