.opi {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    min-width: 800px;
    margin-bottom: 2em;
}

.opi .content {
    display: flex;
}

.opi .display {
    flex-grow: 1;
    align-self: center;
    text-align: center;
}

.opi .properties {
    flex-grow: 0;
    border-left: 1px solid #eee;
}

.opi table {
    font-size: smaller;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

.opi table td, .opi table th {
    border: none;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
}

.opi table th {
    min-width: 120px;
}

.opi table .row-odd {
    background: #fafafa;
}
