name: CI

on: [push, pull_request]

jobs:
  java:
    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: mvn -B --no-transfer-progress -DskipTests package

  javadoc:
    name: Javadoc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Generate javadoc
        run: mvn -B --no-transfer-progress -DskipTests javadoc:aggregate

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Set up sphinx
        run: |
          cd docs
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Generate screenshots
        run: |
          cd docs/capture
          npm ci
          npm start&
          npx wait-on http://127.0.0.1:8080
          npm run capture
        env:
          CI: true
      - name: Generate docs
        run: |
          cd docs
          make html
