name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Set version
        id: set-version
        run: |
          REF=${{ github.ref }}
          VERSION=${REF/refs\/tags\/v/}
          echo "::set-output name=version::$VERSION"

      - name: Generate assets
        run: mvn -B --no-transfer-progress -DskipTests package

      - name: Draft Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: v${{ steps.set-version.outputs.version }}
          draft: true  # Only publish after manual trigger

      - name: Upload Windows x64 asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: org.yamcs.studio.editor.product/target/products/yamcs-studio-${{ steps.set-version.outputs.version }}-win32.win32.x86_64.zip
          asset_name: yamcs-studio-${{ steps.set-version.outputs.version }}-win32.win32.x86_64.zip
          asset_content_type: application/zip

      #- name: Upload Linux aarch64 asset
      #  uses: actions/upload-release-asset@v1.0.1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    upload_url: ${{ steps.create_release.outputs.upload_url }}
      #    asset_path: org.yamcs.studio.editor.product/target/products/yamcs-studio-${{ steps.set-version.outputs.version }}-linux.gtk.aarch64.tar.gz
      #    asset_name: yamcs-studio-${{ steps.set-version.outputs.version }}-linux.gtk.aarch64.tar.gz
      #    asset_content_type: application/gzip

      - name: Upload Linux x64 asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: org.yamcs.studio.editor.product/target/products/yamcs-studio-${{ steps.set-version.outputs.version }}-linux.gtk.x86_64.tar.gz
          asset_name: yamcs-studio-${{ steps.set-version.outputs.version }}-linux.gtk.x86_64.tar.gz
          asset_content_type: application/gzip

      - name: Upload macOS asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: org.yamcs.studio.editor.product/target/products/yamcs-studio-${{ steps.set-version.outputs.version }}-macosx.cocoa.x86_64.zip
          asset_name: yamcs-studio-${{ steps.set-version.outputs.version }}-macosx.cocoa.x86_64.zip
          asset_content_type: application/zip
